/* table_maker.css */

/* --- Styles reset - disable default browser styles -------------- */
/* others: dl,dt,dd,ul,ol,li */
body,div,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,blockquote,table,th,td { margin:0; padding:0; }
table { /*border-collapse:collapse;*/ /*border-spacing:0;*/ }
tr { vertical-align: top; }
td { /*border:1px solid black;*/ }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }

/* need this for child percentages */
html, body {
    height: 100%;
}

/* container div (javascript makes this a table) */
#page {
    width:      100%;
    height:     100%;
    min-height: 100%;
}

/* javascript-created table cell containing the header div */
#td_header {
    height: 1%;
    vertical-align: top;

    background:#bbb;

    -moz-border-radius:10px; /* firefox */
}

/* div containing header content */
#header {
    padding:1em;
}

/* javascript-created table cell containing the left_margin div */
#td_left_margin {
    width: 1%;
    vertical-align: top;

    background:#ccc;

    -moz-border-radius:10px; /* firefox */
}

/* div containing left_margin content */
#left_margin {
    padding:1em;
}

/* javascript-created table cell containing the body div */
#td_body {
    background:#888;
    vertical-align: top;

    -moz-border-radius:10px; /* firefox */
}

/* div containing body content */
#body {
    padding:1em;
}

/* javascript-created table cell containing the right_margin div */
#td_right_margin {
    width: 1%;
    background:#999;
    vertical-align: top;

    -moz-border-radius:10px; /* firefox */
}

/* div containing right_margin content */
#right_margin {
    padding:1em;
}

/* javascript-created table cell containing the footer div */
#td_footer {
    height: 1%;
    background:#aaa;
    vertical-align: bottom;

    -moz-border-radius:10px; /* firefox */
}

/* div containing footer content */
#footer {
    padding:1em;
}

/* --- columns ---------------------------------------------------- */

#columns {
    width: 100%;
    border: 1px solid #eee;
    -moz-border-radius:10px; /* firefox */
}

#col1,#col2,#col3 {
    width: 33%;
    padding: .5em;
    border: 1px dotted #eee;
    -moz-border-radius:8px; /* firefox */
}

/* --- ul_table test ---------------------------------------------- */

.ul-table {
    width: 100%;
    border: 1px solid red;
    -moz-border-radius:8px; /* firefox */
}

.ul-li {
    border: 1px solid blue;
    -moz-border-radius:6px; /* firefox */
}

.ul-li-bullet {
    border: 1px solid green;
    -moz-border-radius:6px; /* firefox */
}

.ul-li-usebull {
    border: 1px solid white;
    -moz-border-radius:6px; /* firefox */
}

/* --- ol_table test ---------------------------------------------- */

.ol-table {
    width: 100%;
    border: 1px solid red;
    -moz-border-radius:8px; /* firefox */
}

.ol-li {
    border: 1px solid blue;
    -moz-border-radius:6px; /* firefox */
}

.ol-li-bullet {
    border: 1px solid green;
    -moz-border-radius:6px; /* firefox */
}

.ol-li-usebull {
    border: 1px solid white;
    -moz-border-radius:6px; /* firefox */
}

.ol-li-number {
    border: 1px solid yellow;
    -moz-border-radius:6px; /* firefox */
}


/* --- dl_table test ---------------------------------------------- */

.dl-table {
    width: 100%;
    border: 1px solid red;
    -moz-border-radius:8px; /* firefox */
}

.dl-dt {
    border: 1px solid blue;
    -moz-border-radius:6px; /* firefox */
}

.dl-dt-bullet {
    border: 1px solid green;
    -moz-border-radius:6px; /* firefox */
}

.dl-dt-usebull {
    border: 1px solid white;
    -moz-border-radius:6px; /* firefox */
}

.dl-dt-number {
    border: 1px solid yellow;
    -moz-border-radius:6px; /* firefox */
}

.dl-dd {
    border: 1px solid fuchsia;
    -moz-border-radius:6px; /* firefox */
}


#__END__
