#page {
    width:100%;
}
#td_header {
    background:#bbb;
    height:20%;
    -moz-border-radius:10px;
}
#header {
    padding:1em;
}
#td_left_margin {
    background:#ccc;
    width:2%;
    -moz-border-radius:10px;
}
#left_margin {
    padding:1em;
}
#td_body {
    background:#888;
    -moz-border-radius:10px;
}
#body {
    padding:1em;
}
#td_right_margin {
    background:#999;
    width:2%;
    -moz-border-radius:10px;
}
#right_margin {
    padding:1em;
}
#td_footer {
    background:#aaa;
    height:50px;
    -moz-border-radius:10px;
}
#footer {
    padding:1em;
}
